<%- include('../components/header') %>
<style>
    html>body {
        background-color: #F2F2F2;
    }
    .layui-nav-tree .layui-nav-item{
        width: auto;
    }
    .layui_TP .layui-nav .layui-nav-item{
        padding:0;
    }
</style>
<div class="layui-container fly-marginTop fly-user-main layui-tab layui_TP" style="background: #F2F2F2;" lay-filter="user_config">
    <ul class="layui-nav layui-nav-tree layui-inline layui-tab-title" >
        <li class="layui-nav-item" lay-id="/user"> <a href="javascript:void(0)" > 我的主页 </a> </li>
        <li class="layui-nav-item " lay-id="/user/"> <a href="javascript:void(0)" > 用户中心 </a> </li>
        <li class="layui-nav-item" lay-id="/set"> <a href="javascript:void(0)" > 基本设置 </a> </li>
        <li class="layui-nav-item " lay-id="/post/"> <a href="javascript:void(0)" >我的帖子 </a> </li>
        <li class="layui-nav-item " lay-id="/message/"> <a href="javascript:void(0)" >我的消息 </a> </li>
        <li class="layui-nav-item " lay-id="/product/"> <a href="javascript:void(0)" >已购产品 </a> </li>
        <li class="layui-nav-item "> <a href="/posts/gallery" >图片资源库 </a> </li>
    </ul>
    <div class="fly-panel fly-panel-user layui-tab-content" pad20="">
            <div class="layui-tab-item ">内容1</div>
            <div class="layui-tab-item">内容2</div>
            <div class="layui-tab-item layui-show"><%- include("set") %></div>
            <div class="layui-tab-item">
            </div>
            <div class="layui-tab-item"><%- include("message") %></div>
            <div class="layui-tab-item ">内容6</div>
    </div>
    <div >
    </div>
</div>

<!-- <div class="layui-container fly-marginTop fly-user-main" style="background: #fff;">
        <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
            <li class="layui-nav-item"> <a href="/posts/user"> 我的主页 </a> </li>
            <li class="layui-nav-item "> <a href="/user/"> 用户中心 </a> </li>
            <li class="layui-nav-item"> <a href="/posts/set"> 基本设置 </a> </li>
            <li class="layui-nav-item "> <a href="/user/post/">我的帖子 </a> </li>
            <li class="layui-nav-item "> <a href="/posts/message/">我的消息 </a> </li>
            <li class="layui-nav-item "> <a href="/user/product/">已购产品 </a> </li>
            <span class="layui-nav-bar" style="top: 167.5px; height: 0px; opacity: 0;"></span>
        </ul>
        <div class="site-tree-mobile layui-hide"> <i class="layui-icon"></i></div>
        <div class="site-mobile-shade"></div>
        <div class="fly-panel fly-panel-user" pad20="">
        </div>
</div> -->
<%- include('../components/footer') %>
<script>

//选项卡模块
layui.use(['element','form', 'layedit', 'laydate'], function(){
  var $ = layui.jquery
  ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
  var layid = location.hash.replace(/^#user=/, '');
  element.tabChange('user', layid);
  element.on('tab(user)', function(elem){
    location.hash = 'user='+ $(this).attr('lay-id');
  });
  var redit = location.hash.replace(/^#/, '');
  element.tabChange('user_config', redit);
  element.on('tab(user_config)', function(elem){
      if($(this).attr('lay-id')){
        location.hash = $(this).attr('lay-id');
      }
  });
});
$('.layui-anim.layui-anim-upbit a').click(function(){
var href=$(this).attr("href")
	window.location.href =href;
	location.reload()
})
//上传头像模块
layui.use('upload', function(){
  var upload = layui.upload;
   
  //执行实例
  //普通图片上传
  var uploadInst = upload.render({
    elem: $('.upload-img')
    ,url: 'http://hn216.api.yesapi.cn/?s=App.CDN.UploadImg&app_key=8110708D4EC6498C13A5DFB832D9CB0F&sign=q97tnATxvTgk0mxVoqiKHJxyuSf0FQiLP5oOGe4DVwcJEpyjIlfJoNm14jaLRXxJWf'
    ,before: function(obj){
      //预读本地文件示例，不支持ie8
      obj.preview(function(index, file, result){
        $('.avatar-add img').attr('src', result); //图片链接（base64）
      });
    }
    ,done: function(res){
      //如果上传失败
      if(res.ret != 200){
        return layer.msg('上传失败');
      }else{
        $('.avatar-add img').attr('pic_url', res.data.url);
      }
      //上传成功
    }
    ,error: function(){
      //演示失败状态，并实现重传
      var demoText = $('#demoText');
      demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
      demoText.find('.demo-reload').on('click', function(){
        uploadInst.upload();
      });
    }
});
});

</script>